DATABASE_URL="postgresql://ikanime:ikanime@localhost:5432/ikanimelist"
BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
EMAIL_FROM="no-reply@example.com"
RESEND_API_KEY=""
EMAIL_DELIVERY_MODE="console"
